TOKEN=
DATABASE_PATH=/app/data/bidlik.db

LLM_BASE_URL_1=https://some-api-1
LLM_API_KEY_1=unused
LLM_MODEL_1=grok-3-fast
LLM_SUPPORTS_IMAGES_1=true

# LLM_BASE_URL_2=https://some-api-2
# LLM_API_KEY_2=some-api-key
# LLM_MODEL_2=model-name
# LLM_SUPPORTS_IMAGES_2=true

LLM_TOKENS_USERNAME=
LLM_TOKENS_PASSWORD=
