BOT_DATABASE_URL=
BOT_DATABASE_SSLMODE=allow
BOT_TOKEN=
POSTGRES_PASSWORD=

# Primary API
LLM_BASE_URL_1=https://some-api-1
LLM_API_KEY_1=unused
LLM_MODEL_1=grok-3-fast

# Backup API
# LLM_BASE_URL_2=https://some-api-2
# LLM_API_KEY_2=some-api-key
# LLM_MODEL_2=google/gemma-4-31b-it

# LLM_BASE_URL_3=...

LLM_TOKENS_USERNAME=
LLM_TOKENS_PASSWORD=
